@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Vidaloka&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.video-react-poster {
    background-size: cover !important;
}

.video-react .video-react-big-play-button {
    font-size: 3em !important;
    height: 2em !important;
    background-color: rgba(255, 0, 0, 0.6) !important;
    border: 0.06666em solid #f00 !important;
}

.video-react .video-react-control:before,
.video-react .video-react-big-play-button:before{
    position: relative !important;
}

